/build/
/.qtcreator/
*.user
*.user.*
*.autosave
*.qmlc
*.jsc
moc_*.cpp
moc_*.h
ui_*.h
qrc_*.cpp
object_script.*
Makefile*
*.obj
*.o
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.dll
.DS_Store
Thumbs.db
data/results.json
